{layout name="layout/layout" /}
{load href="/static/manage/css/imageinfo/MoreImageSelectBox.css" /}
{load href="/static/manage/js/imageinfo/MoreImageSelectBox.js" /}
<script type="text/javascript">
	var boxElementID = "{$BoxElementID}";
	var valueElementID = "{$ValueElementID}";
</script>
<div class="select_box clearfix">
	<div class="left">
		<div id="show_select_image_box" class="show_select_image">
			
		</div>
		<input type="hidden" id="imgIds" name="imgIds" value="" />
	</div>
	<div class="right">
		<div class="serach_box">
			图片分类:<select id="SearchImageType" name="SearchImageType">
					<option value="-1">不限</option>
					{volist name="ImageTypeList" id="item"}
	        			<option value="{$item.ID}">{$item.Title ?? ''}</option>
	        		{/volist}
				</select>&nbsp;
				<script type="text/javascript">
					var SearchImageType = "{$Search.ImageType ?? ''}";
					if(SearchImageType != ""){
						$("#SearchImageType").val(SearchImageType);
					}
				</script>
				图片名称:<input type="text" id="SerachTitle" name="SerachTitle" value="{$Serach.Title ?? ''}" />&nbsp;
				<a class="button button-small border-green"
					onclick="javascript:AjaxGetFileInfoList(1,12)"  >搜索</a>
				<a class="button button-small border-green"
					onclick="javascript:MoreSelectOver();"  >确定选择</a>
				<a class="button button-small border-green"
					onclick="javascript:parent.CloseIframe();"  >关闭窗口</a>
		</div>
		<div class="serach_img_box clearfix">
			
			
		</div>
		<div id="page" class="pagination clearfix"></div>
	</div>
</div>