<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登陆</title>
{include file="common/head_src" /}
{load href="/static/mobile/css/access/login.css" /}
</head>
<body>
	<div class="top_left"></div>
	<div class="login"><img src="/static/mobile/image/common/logo.png" /></div>
	<div class="form_box">
		<div class="input_box">
			<img class="people_icon" src="/static/mobile/image/icon/people.png" />
			<span class="split"></span>
			<input class="input_text" type="text" id="loginName" name="loginName" />
		</div>
		<div class="input_box">
			<img class="lock_icon" src="/static/mobile/image/icon/lock.png" />
			<span class="split"></span>
			<input class="input_password" type="password" id="password" name="password" />
			<img class="password_icon" src="/static/mobile/image/icon/password.png" />
		</div>
		<a class="login_button" href="javascript:;">登录</a>
		<a class="register_button" href="javascript:;">我要注册</a>
		<a class="register_button" href="javascript:;">忘记密码</a>
	</div>
</body>
</html>