<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>后台管理</title>
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
<link href="/favicon.ico" rel="bookmark icon" />
{include file="common/head_src" /}
{load href="/static/manage/js/common/AjaxPagin.js" /}
{load href="/static/manage/js/common/AjaxUtil.js" /}
{load href="/static/manage/js/common/Common.js" /}
{load href="/static/manage/js/common/iframe.js" /}
{load href="/static/manage/js/imageinfo/ImageUtil.js" /}
</head>
<body>
	{__CONTENT__}
	{include file="Common/TipDiv" /}
</body>
</html>



	
