<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的订单</title>
{include file="common/head_src" /}
{load href="/static/mobile/css/MyOrder/OrderList.css" /}
</head>
<body>
	<div class="head clearfix">
		<a class="left" href="javascript:void(0);">&lt;返回</a>
		<a class="center" href="javascript:;">七天前订单<img src="/static/mobile/image/icon/down.png" /></a>
	</div>
	<div class="product_box">
		<div class="title"><img src="/static/mobile/image/icon/dispatching.jpg" /><a href="javascript:;">【花椒生鲜】成都通汇农副产品有限公司</a></div>
		<div class="content clearfix">
			<div class="left"><a href="javascript:;"><img src="/static/mobile/image/temp/my_order/order_list/1.jpg" /></a></div>
			<div class="right">
				<div class="products_name">鱿鱼30斤/件(冻)</div>
				<div class="note">共1类商品</div>
				<div class="note">订单编号：512442678588545788</div>
				<div class="note">订单金额：<span class="money">￥220.00</span></div>
				<div class="note">下单时间：2016-12-25 20:33</div>
				<div class="status">订单已取消</div>
				<div class="button"><a href="javascript:;">复制订单</a></div>
			</div>
		</div>
	</div>
	<div class="product_box">
		<div class="title"><img src="/static/mobile/image/icon/dispatching.jpg" /><a href="javascript:;">【花椒生鲜】成都通汇农副产品有限公司</a></div>
		<div class="content clearfix">
			<div class="left"><a href="javascript:;"><img src="/static/mobile/image/temp/my_order/order_list/1.jpg" /></a></div>
			<div class="right">
				<div class="products_name">鱿鱼30斤/件(冻)</div>
				<div class="note">共1类商品</div>
				<div class="note">订单编号：512442678588545788</div>
				<div class="note">订单金额：<span class="money">￥220.00</span></div>
				<div class="note">下单时间：2016-12-25 20:33</div>
				<div class="status">订单已取消</div>
				<div class="button"><a href="javascript:;">复制订单</a></div>
			</div>
		</div>
	</div>
	<div class="product_box">
		<div class="title"><img src="/static/mobile/image/icon/dispatching.jpg" /><a href="javascript:;">【花椒生鲜】成都通汇农副产品有限公司</a></div>
		<div class="content clearfix">
			<div class="left"><a href="javascript:;"><img src="/static/mobile/image/temp/my_order/order_list/1.jpg" /></a></div>
			<div class="right">
				<div class="products_name">鱿鱼30斤/件(冻)</div>
				<div class="note">共1类商品</div>
				<div class="note">订单编号：512442678588545788</div>
				<div class="note">订单金额：<span class="money">￥220.00</span></div>
				<div class="note">下单时间：2016-12-25 20:33</div>
				<div class="status">订单已取消</div>
				<div class="button"><a href="javascript:;">复制订单</a></div>
			</div>
		</div>
	</div>
</body>
</html>