{layout name="layout/layout" /}
<script type="text/javascript">
	$("#layout_title").html('<li><a href="{:url("index")}" class="icon-home">菜单设置</a></li>');
</script>
<div class="admin">
	<form method="post" action="{:url("opt_index")}">
		<div class="panel admin-panel">
			<div class="panel-head">
				<strong>内容列表</strong>
			</div>
			<div class="padding border-bottom">
				<input type="hidden" id="operate" name="operate" value="" />
				<input type="button" class="button button-small checkall"
					name="checkall" checkfor="ID[]" value="全选" />
				<input type="button" class="button button-small border-green"
					onclick="javascript:ShowIframe(800,500,'{:url("edit")}');" value="添加" />
					<input type="submit" class="button button-small border-green"
					onclick="return IndexOpt('您确定要排序所选项？','sort')" value="排序" />
				<input type="submit" class="button button-small border-yellow"
					onclick="return IndexOpt('您确定要删除所选项？','delete')" value="删除" />
				
			</div>

			<table class="table table-hover">
				<tr>
					<th width="45">选择</th>
					<th>所属站点</th>
					<th>所属模型</th>
					<th>所属菜单</th>
					<th>导航名称</th>
					<!-- 
					<th>默认图片</th>
					<th>选中图片</th>
					<th>跳转地址</th>
					<th>展示控制器</th>
					<th>展示方法</th>
					<th>后台控制器</th>
					<th>后台方法</th> 
					-->
					<th width="100">排序</th>
					<th width="100">操作</th>
				</tr>
				{Volist name="list" id="item"}
				<tr>
					<td>
						<input type="checkbox" name="ID[]" value="{$item.ID}" />
					</td>
					<td>{$item.SiteName ?? ""}</td>
					<td>{$item.ModelName ?? ""}</td>
					<td>{$item.ParentName ?? ""}</td>
					<td style="text-align: left;">{$item.Title ?? ""}</td>
					<!-- 
					<td>{if condition="$item.DefaultImage"}<img width="120" src="{$item.DefaultImage}" />{/if}</td>
					<td>{if condition="$item.HoverImage"}<img width="120" src="{$item.HoverImage}" />{/if}</td>
					<td>{$item.Url ?? ""}</td>
					<td>{$item.Controller}</td>
					<td>{$item.Action}</td>
					<td>{$item.BackController}</td>
					<td>{$item.BackAction}</td>
					 -->
					<td>
						<input name="Sort{$item.ID}" type="text" value="{$item.Sort}" class="sort" />
					</td>
					<td>
						<a class="button border-blue button-little" href="javascript:ShowIframe(800,500,'{:url("edit",["id" =>$item["ID"]])}');">修改</a>
					</td>
				</tr>
				{/Volist}
			</table>
			<div id="pagerContent" class="panel-foot text-center pagination"></div>
		</div>
	</form>
</div>
