<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>个人中心</title>
{include file="common/head_src" /}
{load href="/static/mobile/css/PersonalCenter/index.css" /}
</head>
<body>
	<div class="user_box">
		<div class="head_box"><img src="/static/mobile/image/temp/wx/head.jpg" /></div>
		<div class="company">洛氏抄手</div>
	</div>
	<div class="my_order_box">
		<div class="order_head clearfix">
			<a class="left" href="javascript:;">我的订单</a>
			<a class="right" href="javascript:;">查看全部订单&nbsp;<img class="right_icon" src="/static/mobile/image/icon/right.png" /></a>
		</div>
		<div class="split"></div>
		<div class="status_list">
			<a href="javascript:;">
				<img class="icon" src="/static/mobile/image/icon/wait.png" /><br />
				等待受理
			</a>
			<a href="javascript:;">
				<img class="wait_dispatching" src="/static/mobile/image/icon/wait_ dispatching.png" /><br />
				等待发货
			</a>
			<a href="javascript:;">
				<img class="icon" src="/static/mobile/image/icon/dispatching.png" /><br />
				已发货
			</a>
		</div>
	</div>
	<div class="navigation_box">
		<a href="javascript:;" class="clearfix">
			<img class="bag_icon" src="/static/mobile/image/icon/bag.png" />
			去购物
			<img class="right_icon" src="/static/mobile/image/icon/right.png" />
		</a>
		<div class="split"></div>
		<a href="javascript:;" class="clearfix">
			<img class="shopping_car_icon" src="/static/mobile/image/icon/shopping_car.png" />
			购物车
			<img class="right_icon" src="/static/mobile/image/icon/right.png" />
		</a>
		<div class="split"></div>
		<a href="javascript:;" class="clearfix">
			<img class="position_icon" src="/static/mobile/image/icon/position.png" />
			收货地址
			<img class="right_icon" src="/static/mobile/image/icon/right.png" />
		</a>
		<div class="split"></div>
		<a href="javascript:;" class="clearfix">
			<img class="qrcode_icon" src="/static/mobile/image/icon/qrcode.png" />
			我的二维码
			<img class="right_icon" src="/static/mobile/image/icon/right.png" />
		</a>
		<div class="split"></div>
		<a href="javascript:;" class="clearfix">
			<img class="servicing_icon" src="/static/mobile/image/icon/servicing.png" />
			密码修改
			<img class="right_icon" src="/static/mobile/image/icon/right.png" />
		</a>
	</div>
	<a class="exit_button" href="javascript:;">退出登录</a>
</body>
</html>