{layout name="layout/layout" /}
{load href="/static/manage/css/fileinfo/fileInfo.css" /}
<script type="text/javascript">
	$("#layout_title").html('<li><a href="{:url("index")}" class="icon-home">图片列表</a></li>');
</script>
<div class="admin">
	<form method="post" action="{:url("opt_index")}">
		<div class="panel admin-panel">
			<div class="panel-head">
				<strong>内容列表</strong>
			</div>
			<div class="padding border-bottom">
				文件分类:<select id="SerachImageType" name="SerachImageType">
					<option value="-1">不限</option>
					{volist name="FileTypeDropDownList" id="item"}
	        			<option value="{$item.ID}">{$item.Title}</option>
	        		{/volist}
				</select>
				<script type="text/javascript">
					var SerachImageType = "{$Serach.ImageType ??''}";
					if(SerachImageType != ""){
						$("#SerachImageType").val(SerachImageType);
					}
				</script>
				文件名称:<input type="text" id="" name="SerachTitle" value="{$Serach.Title??''}" />
				<input type="submit" class="button button-small border-green"
					onclick="SetOpt('serach')"  value="搜索" />
			</div>
			<div class="padding border-bottom">
				<input type="hidden" id="operate" name="operate" value="" />
				<input type="button" class="button button-small checkall"
					name="checkall" checkfor="ID[]" value="全选" />
				<input type="button" class="button button-small border-green"
					onclick="javascript: GoTo('{:url("FileUpload")}');" value="文件上传" />
				<input type="submit" class="button button-small border-green"
					onclick="SetOpt('update')" value="修改" />
				<input type="submit" class="button button-small border-yellow"
					onclick="return IndexOpt('您确定要删除所选项？','delete')" value="删除" />
			</div>
			<div class="table table-hover">
				<div class="img_list_box clearfix">
					{Volist name="List" id="item"}
						<div class="item">
							<div class="img"><img src="{$item.ShowPath}" ref="{$item.Path}" /></div>
							<div class="title">
								{$item.Title}
							</div>
							<div class="checkbox">
								<input type="checkbox" name="ID[]" value="{$item.ID}" />
							</div>
						</div>
					{/Volist}
				</div>
			</div>
			<div id="pagerContent" class="panel-foot text-center pagination">{$page}</div>
		</div>
	</form>
</div>
