<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
<link href="/favicon.ico" rel="bookmark icon" />
{load href="/static/manage/css/common/pintuer.css" /}
{load href="/static/manage/css/common/common.css" /}
{load href="/static/manage/js/common/jquery.js" /}
{load href="/static/manage/js/common/pintuer.js" /}
{load href="/static/manage/js/common/respond.js" /}
{load href="/static/manage/js/common/admin.js" /}
<!-- {load href="/static/manage/jquery-easyui-1.5/themes/default/easyui.css" /}
{load href="/static/manage/jquery-easyui-1.5/themes/default/easyui.css" /}
{load href="/static/manage/jquery-easyui-1.5/themes/icon.css" /}
{load href="/static/manage/jquery-easyui-1.5/jquery.min.js" /}
{load href="/static/manage/jquery-easyui-1.5/jquery.easyui.min.js" /}
{load href="/static/manage/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js" /} -->
{load href="/static/manage/js/common/config.js" /}
