{layout name="layout/layout" /}
<script type="text/javascript">
	$("#layout_title").html('<li><a href="{:url("index")}" class="icon-home">角色列表</a></li><li><a href="javascript:;">角色编辑</a></li>');
</script>
<div class="admin">
    <div class="tab">
        <div class="tab-head">
            <strong>
             	编辑
            </strong>
            <ul class="tab-nav">
                <li class="active"><a href="#tab-set">编辑</a></li>
            </ul>
        </div>
        <div class="tab-body">
            <br />
            <div class="tab-panel active" id="tab-set">
                <form method="post" action="{:url("post_edit")}" class="form-x" enctype="multipart/form-data"  >                   
                    <input type="hidden" id="ID" name="ID" value="{$role.ID}" />
                    
                    <div class="form-group">
                        <div class="label"><label for="readme">角色名称</label></div>
                        <div class="field">
                            <input type="text" class="input" id="Name" name="Name" data-validate="required:请填写角色名称" value="{$role.Name}" />
                        </div>
                    </div>
                    <div class="form-button"><button class="button bg-main" type="submit">提交</button></div>
                </form>
            </div>
        </div>
    </div>
</div>