<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的二维码</title>
{include file="common/head_src" /}
</head>
<body>
	<a href="javascript:void();">打开</a>
	<div class="qrcode_box_shadow"></div>
	<div class="qrcode_box">
		<div class="userinfo_box">
			<div class="user_head clearfix">
				<div class="left"><img src="/static/mobile/image/temp/wx/head.jpg" /></div>
				<div class="right">
					<div class="user_name">洛氏抄手</div>
					<div class="user_code">我的溯源身份码：51018506593</div>
				</div>
			</div>
			<div class="user_qrcode">
				<img src="/static/mobile/image/temp/wx/wx.jpg" />
				<div class="tip">扫一扫或者长按识别二维码查看溯源信息</div>
			</div>
		</div>
	</div>
</body>
</html>